[Unit]
Description=Kubernetes API Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target
After=etcd.service

[Service]
EnvironmentFile=/etc/environment
ExecStart=/usr/bin/kubelet \
                --allow-privileged=true \
                --container-runtime=docker \
                --docker=unix:///var/run/docker.sock \
                --api-servers=${API_SERVERS}
                
Restart=always
Type=notify
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
